In [31]:
import pandas as pd
df = pd.read_csv('suumo.csv')
df

        0       1   2      3
0     NaN     NaN NaN    NaN
1   ワンルーム   3.8万円 NaN  物件を探す
2      1K   4.4万円 NaN  物件を探す
3     1DK   4.6万円 NaN  物件を探す
4    1LDK   5.5万円 NaN  物件を探す
5      2K   4.7万円 NaN  物件を探す
6     2DK   6.4万円 NaN  物件を探す
7    2LDK   6.8万円 NaN  物件を探す
8      3K   6.5万円 NaN  物件を探す
9     3DK   6.8万円 NaN  物件を探す
10   3LDK   8.3万円 NaN  物件を探す
11     4K   6.9万円 NaN  物件を探す
12    4DK  14.0万円 NaN  物件を探す
13   4LDK       - NaN  物件を探す
14   5K以上  10.0万円 NaN  物件を探す

In [32]:
#列の削除
df.drop(df.columns[[2]], axis=1)
df

        0       1      3
0     NaN     NaN    NaN
1   ワンルーム   3.8万円  物件を探す
2      1K   4.4万円  物件を探す
3     1DK   4.6万円  物件を探す
4    1LDK   5.5万円  物件を探す
5      2K   4.7万円  物件を探す
6     2DK   6.4万円  物件を探す
7    2LDK   6.8万円  物件を探す
8      3K   6.5万円  物件を探す
9     3DK   6.8万円  物件を探す
10   3LDK   8.3万円  物件を探す
11     4K   6.9万円  物件を探す
12    4DK  14.0万円  物件を探す
13   4LDK       -  物件を探す
14   5K以上  10.0万円  物件を探す

In [44]:
#行番号で削除する
df = df.drop(df.index[0])
df

        0       1      3
1   ワンルーム   3.8万円  物件を探す
2      1K   4.4万円  物件を探す
3     1DK   4.6万円  物件を探す
4    1LDK   5.5万円  物件を探す
5      2K   4.7万円  物件を探す
6     2DK   6.4万円  物件を探す
7    2LDK   6.8万円  物件を探す
8      3K   6.5万円  物件を探す
9     3DK   6.8万円  物件を探す
10   3LDK   8.3万円  物件を探す
11     4K   6.9万円  物件を探す
12    4DK  14.0万円  物件を探す
13   4LDK       -  物件を探す
14   5K以上  10.0万円  物件を探す

In [47]:
df = df.drop(df.columns[[2]], axis=1)
df

IndexError: index 2 is out of bounds for axis 0 with size 2

In [48]:
df.to_csv('suumo_edit.csv')

In [1]:
import requests
import pandas as pd

# APIキーの設定
api_key = 'Google MAP_API_KEY'

# 検索する住所
addresses = ["〒062-0907 北海道札幌市豊平区豊平７条１０丁目４−１８",
            "〒062-0906 北海道札幌市豊平区豊平６条３丁目６−３０",
            "〒062-0903 北海道札幌市豊平区豊平３条１３丁目１−１２",
            "〒062-0904 北海道札幌市豊平区豊平４条７丁目１−１"
            "〒062-0906 北海道札幌市豊平区豊平６条７丁目１−４７",
            "〒062-0905 北海道札幌市豊平区豊平５条２丁目３−６",
            "〒062-0901 北海道札幌市豊平区豊平１条２丁目１−２５",
            "〒062-0902 北海道札幌市豊平区豊平２条８ 丁目１−３５",
            "〒062-0903 北海道札幌市豊平区豊平３条１０丁目１−３０",
            "〒062-0931 北海道札幌市豊平区平岸１条６丁目３−４０",
            "〒062-0903 北海道札幌市豊平区豊平３条１丁目１−３９",
            "〒062-0003 北海道札幌市豊平区美園３条２丁目１−１６",
            "〒062-0901 北海道札幌市豊平区豊平１条８丁目２−５",
            "〒062-0931 北海道札幌市豊平区平岸１条１７丁目８−３３",
            "〒062-0934 北海道札幌市豊平区平岸４条１３丁目１４",
            "〒062-0907 北海道札幌市豊平区豊平７条７丁目３−２６",
            "〒062-0934 北海道札幌市豊平区平岸４条７丁目１２−１４",
            "〒062-0933 北海道札幌市豊平区平岸３条４丁目８−１",
            "〒062-0053 北海道札幌市豊平区月寒東３条４丁目１−１",
            "〒062-0932 北海道札幌市豊平区平岸２条７丁目４−２０",
            "〒062-0055 北海道札幌市豊平区月寒東５条７丁目４−１３",
            "〒062-0041 北海道札幌市豊平区福住１条１丁目１−１１",
            "〒062-0906 北海道札幌市豊平区豊平６条３丁目５−２８",
            "〒062-0911 北海道札幌市豊平区旭町７丁目４−１２",
            "〒062-0932 北海道札幌市豊平区平岸２条７丁目４−５",
            "〒062-0020 北海道札幌市豊平区月寒中央通１１丁目７−１６",
            "〒062-0933 北海道札幌市豊平区平岸３条８丁目１−２８",
            "〒062-0008 北海道札幌市豊平区美園８条１丁目１−３",
            "〒062-0020 北海道札幌市豊平区月寒中央通８丁目４−１",
            "〒062-0010 北海道札幌市豊平区美園１０条６丁目３−８",
            "〒062-0055 北海道札幌市豊平区月寒東５条９丁目４−２０",
            "〒062-0935 北海道札幌市豊平区平岸５条１０丁目７−１",
            "〒062-0033 北海道札幌市豊平区西岡３条１丁目４−１",
            "〒062-0933 北海道札幌市豊平区平岸３条１０丁目３８−１",
            "〒062-0934 北海道札幌市豊平区平岸４条９丁目１５−５",
            "〒062-0055 北海道札幌市豊平区月寒東５条１１丁目８−１３",
            "〒062-0005 北海道札幌市豊平区美園５条４丁目１−２３",
            "〒062-0020 北海道札幌市豊平区月寒中央通９丁目３−３２",
            "〒062-0931 北海道札幌市豊平区平岸１条１０丁目８−７",
            "〒062-0020 北海道札幌市豊平区月寒中央通６丁目３−２８",
            "〒062-0931 北海道札幌市豊平区平岸１条３丁目２−３３",
            "〒062-0008 北海道札幌市豊平区美園８条７丁目２−６",
            "〒062-0933 北海道札幌市豊平区平岸３条１４丁目２−５",
            "〒062-0933 北海道札幌市豊平区平岸３条８丁目３−８",
            "〒062-0932 北海道札幌市豊平区平岸２条７丁目１−２５"
            ]

# 結果を保存するリスト
results = []

# 各住所に対してリクエストを送信
for address in addresses:
    url = f'https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={api_key}&language=ja'
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        if data['status'] == 'OK':
            results.append(data['results'][0]['formatted_address'])

# データフレームを作成
df = pd.DataFrame(results, columns=['Address'])

# Excelファイルに保存
df.to_excel('addresses.xlsx', index=False)

# CSVファイルにも保存できます
df.to_csv('addresses.csv', index=False)

In [1]:
import pandas as pd

In [1]:
l = ['Charle', 'Bob', 'Alice']
l_sorted = sorted(l)
# 文字列のリストは、デフォルトではアルファベット順（辞書順）にソートされる
print(l_sorted)

['Alice', 'Bob', 'Charle']

In [2]:
# 関数len()を引数keyに指定すると、文字数が少ない順にソートされる
l_sorted_len = sorted(l, key=len)
print(l_sorted_len)

['Bob', 'Alice', 'Charle']

In [8]:
# 2文字目を取得するラムダ式を引数keyに指定すると、2文字目のアルファベット順にソートされる
x = ['agj', 'bfi', 'ceh']
y = sorted(x, key=lambda x: x[1])
print(y)

['ceh', 'bfi', 'agj']

In [9]:
l = [0, 1, 2, 3]
map_square = map(lambda x: x**2, l)
print(map_square) # <map object at 0x1072fd128>
print(list(map_square))

<map object at 0x00000220942CFA60>
[0, 1, 4, 9]

In [14]:
# リスト内包表記（新しいリストを生成する処理をシンプルに書ける）
squares = [i*2 for i in range(3)]
print(squares)

[0, 2, 4]

In [12]:
# リスト内包表記とIF文
odds = [i for i in range(10) if i % 2 == 0]
print(odds)

[0, 2, 4, 6, 8]

In [1]:
# 特殊メソッド
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def display_info(self):
        return f"{self.year} {self.make} {self.model}"

# クラスのインスタンスを作成
my_car = Car("Toyota", "Corolla", 2020)

# 情報の表示
print(my_car.display_info())

2020 Toyota Corolla

In [2]:
class Singleton:
    _instance = None

    def __new__(cls):
        if cls._instance is None:
            cls._instance = super(Singleton, cls).__new__(cls)
            # ここでインスタンスの追加の初期化を行うこともできますが、
            # 通常は __init__ で行います。
        return cls._instance

    def __init__(self):
        self.value = "I am the singleton instance"

# シングルトンのインスタンスを作成
singleton1 = Singleton()
singleton2 = Singleton()

# どちらのインスタンスも同一であることを確認
print(singleton1 is singleton2)  # True
print(singleton1.value)          # I am the singleton instance

True
I am the singleton instance

In [3]:
# カスタムイミュータブルデータ型の作成
class ImmutableTuple(tuple):
    def __new__(cls, iterable):
        # 元のiterableからtupleを作成し、それを返します
        obj = super(ImmutableTuple, cls).__new__(cls, iterable)
        return obj

    def __init__(self, iterable):
        # 追加の初期化処理が必要な場合はここで行います
        self.sum = sum(self)

# カスタムイミュータブルタプルの使用例
my_tuple = ImmutableTuple([1, 2, 3])
print(my_tuple)  # (1, 2, 3)
print(my_tuple.sum)  # 6

(1, 2, 3)
6

In [4]:
# リソース管理のためのインスタンス制御
class DatabaseConnection:
    _instance_count = 0
    _max_instances = 3

    def __new__(cls):
        if cls._instance_count < cls._max_instances:
            instance = super(DatabaseConnection, cls).__new__(cls)
            cls._instance_count += 1
            return instance
        else:
            raise Exception("Connection limit exceeded")

    def __init__(self):
        self.connection = "Connection established"

    def close(self):
        # 接続を閉じるメソッド
        self.connection = "Connection closed"
        self.__class__._instance_count -= 1

# データベース接続の使用例
try:
    conn1 = DatabaseConnection()
    conn2 = DatabaseConnection()
    conn3 = DatabaseConnection()
    conn4 = DatabaseConnection()  # ここで例外が発生
except Exception as e:
    print(e)  # Connection limit exceeded

Connection limit exceeded

In [3]:
import pandas as pd
import numpy as np

In [17]:
# 100000行のデータフレームを作成
df = pd.DataFrame(np.random.rand(100000, 2), columns=['A', 'B'])
df["C"] = np.nan

def test_map(x):
  return x+1

df.shape[0]で、dfの行数を返し、各行に対してループを実行する。（0-100000行）

df.loc[i, "C"]は、dfのi行目の"A"列のデータを取得する

test_map(df.loc[i, "A"])は、取得したデータを test_map 関数に渡してdf.loc[i, "C"]に渡す。

for文とmap関数で評価する

In [18]:
%%time 
for i in range(df.shape[0]):
  df.loc[i, "C"] = test_map(df.loc[i, "A"])

CPU times: total: 6.97 s
Wall time: 6.98 s

In [19]:
%%time
df["C"] = df["A"].map(test_map)

CPU times: total: 15.6 ms
Wall time: 14 ms

ベクトル化された操作

In [22]:
%%time
df['C'] = df['A'].apply(test_map)

CPU times: total: 46.9 ms
Wall time: 22 ms

In [7]:
import pandas as pd

# CSVファイルを開く
df = pd.read_csv('hiragishi_4.csv', encoding='utf-8')  # 開く際のエンコーディングを指定

# 文字列を含む列の改行を削除する
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].replace('\n', '', regex=True)
    
# 新しいエンコーディングでCSVファイルを保存
df.replace({'\uff0d': '-'}, regex=True, inplace=True)
df.to_csv('hiragishi_5.csv', encoding='shift_jis', index=False)

In [8]:
import pyautogui

# スクリーンの解像度を取得
screen_width, screen_height = pyautogui.size()

print("Screen width:", screen_width)
print("Screen height:", screen_height)

Screen width: 1920
Screen height: 1080