In [31]:
import pandas as pd
df = pd.read_csv('suumo.csv')
df

        0       1   2      3
0     NaN     NaN NaN    NaN
1   ワンルーム   3.8万円 NaN  物件を探す
2      1K   4.4万円 NaN  物件を探す
3     1DK   4.6万円 NaN  物件を探す
4    1LDK   5.5万円 NaN  物件を探す
5      2K   4.7万円 NaN  物件を探す
6     2DK   6.4万円 NaN  物件を探す
7    2LDK   6.8万円 NaN  物件を探す
8      3K   6.5万円 NaN  物件を探す
9     3DK   6.8万円 NaN  物件を探す
10   3LDK   8.3万円 NaN  物件を探す
11     4K   6.9万円 NaN  物件を探す
12    4DK  14.0万円 NaN  物件を探す
13   4LDK       - NaN  物件を探す
14   5K以上  10.0万円 NaN  物件を探す

In [32]:
#列の削除
df.drop(df.columns[[2]], axis=1)
df

        0       1      3
0     NaN     NaN    NaN
1   ワンルーム   3.8万円  物件を探す
2      1K   4.4万円  物件を探す
3     1DK   4.6万円  物件を探す
4    1LDK   5.5万円  物件を探す
5      2K   4.7万円  物件を探す
6     2DK   6.4万円  物件を探す
7    2LDK   6.8万円  物件を探す
8      3K   6.5万円  物件を探す
9     3DK   6.8万円  物件を探す
10   3LDK   8.3万円  物件を探す
11     4K   6.9万円  物件を探す
12    4DK  14.0万円  物件を探す
13   4LDK       -  物件を探す
14   5K以上  10.0万円  物件を探す

In [44]:
#行番号で削除する
df = df.drop(df.index[0])
df

        0       1      3
1   ワンルーム   3.8万円  物件を探す
2      1K   4.4万円  物件を探す
3     1DK   4.6万円  物件を探す
4    1LDK   5.5万円  物件を探す
5      2K   4.7万円  物件を探す
6     2DK   6.4万円  物件を探す
7    2LDK   6.8万円  物件を探す
8      3K   6.5万円  物件を探す
9     3DK   6.8万円  物件を探す
10   3LDK   8.3万円  物件を探す
11     4K   6.9万円  物件を探す
12    4DK  14.0万円  物件を探す
13   4LDK       -  物件を探す
14   5K以上  10.0万円  物件を探す

In [47]:
df = df.drop(df.columns[[2]], axis=1)
df

IndexError: index 2 is out of bounds for axis 0 with size 2

In [48]:
df.to_csv('suumo_edit.csv')